*.ckpt-*
*.dcm
*.dcm.gz
*.html
*.idea
*.local
*.pickle
*.pyc
*.tfrecord
*.tgz
*.tmp
*.tsv
*.txt
*.un~
*.zip
.*.swp
*.nii
*.nii.gz
.DS_Store
.ipynb_checkpoints
.vscode
devdirs
logs
modelState
saved
tmp
venv
preprocessedData
tinymammo/checkpoint
tinymammo/modelState*




